

/* Typography */

html {
    font-size: 62.5%;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



/* buttons */

.btn {
    border-radius: 5px;
    padding: 1rem 1rem;
    color: white;
    font-size: large;
    border: white solid 3px;
    background-color: transparent;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* dialog-message */

.dialog-message {
    border: white 1px solid ;
    background-color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: fit-content;

}

/* Building the web page */

body {
    background-image: url(../images/abdulloh-fauzan-2WUdAu1tEs0-unsplash\ \(2\).jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.btn {
    position: absolute;
    top: 80%;
    left: 5%;
}

.dialog-message {
    position: absolute;
    left: 50%;
    top: 0%;

}

.hide {
    visibility: hidden;
}




