


/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



/* buttons */

.btn {
    border-radius: 5px;
    padding: 1rem 1rem;
    color: white;
    font-size: large;
    border: white solid 3px;
    background-color: transparent;
}

